DATABASE_URL=your_postgres_connection_string
JWT_SECRET=your_jwt_secret
PORT=5000
JWT_EXPIRES_IN=7d
SERVER_URL=http://localhost:5000
SUPER_ADMIN_EMAIL=superadmin@company.com
SUPER_ADMIN_PASSWORD=SuperAdmin_password
SUPER_ADMIN_NAME=Super Admin
GMAIL_USER=your_gmail@gmail.com

GMAIL_APP_PASSWORD=your_16_char_app_password
CLIENT_URL=http://localhost:5173
SENDGRID_API_KEY=sendgrid-api-KEY
SENDGRID_FROM_EMAIL=from_mail